.product-table{
    margin-top:29px;
}
.product-table u{
    font-size: 40px;
}
.product-table button{
    color: green;
}
.product-table .table{


}

.product-table table th{
    background-color: rgb(47, 44, 44);
    color: white;
    border:none;
}
.addproduct{
 
    margin-top: 26px;
}
.addproduct input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.addproduct button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Style the select dropdown */
.addproduct select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
  }
  
  /* Style the select dropdown arrow */
  .addproduct select::-ms-expand {
    display: none;
  }
  
  /* Style the select dropdown options */
  .addproduct select option {
    padding: 5px;
  }
  
  /* Style the selected option */
  .addproduct select option:checked {
    background-color: #4CAF50;
    color: #fff;
  }
  