.section-1{
  height: 100vh;
}
.products-main {
    display: flex;
    justify-content: space-between;
    background-color:#FFf;
    overflow: hidden;

  }
  
  .description {
    width: 50%;
    padding-right: 0px;
    margin: 5px;
    font-size: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
  }
  .description h4{
    color: #F09118;
  }
.products {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 1000px;
  margin-left: 240px;

}

.products img {
  padding: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 2s ease;

}

.w3-button {
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
 transition: 0.8s ease;
}

.w3-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.w3-button-left {
  left: -0px;
  transition: 0.8s ease;
}

.w3-button-right {
  right: 0px;
  transition: 0.8s ease;
}
.section-2{
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  background-color: #ffb833;
  padding: 20px;
}
.section-2 img{
  width: 310px;
  height: 300px;
  border-radius: 3px;
  transition: .5s;
}
.card{
  height:300px;
  margin: 10px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.intro{
  height: 70px;
  width: 310px;
  padding: 6px;
  bottom: -590px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, .5);
  color: #ffb833;
  cursor: pointer;
  transition: .5s;
}
.intro h3{
  margin: 10px;
  font-size: 30px;
}
.card:hover .intro{
 height: 220px;
 bottom: -550px;
}
.card:hover img{
  transform: scale(1.1) rotate(-3deg);
}
.scrolldown{
  height:50px;
  width: 30px;
  border: 2px solid black;
 margin-top:200px;
  position: relative;
  left: 50%;
  bottom:20px;
  border-radius: 50px;
  cursor: pointer;
}
.scrolldown::before,
.scrolldown::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  width: 10px;
  height: 10px;
 transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s ease-in-out infinite;
}
.scrolldown::after{
  top: 30%;
}
@keyframes scrolldown {
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 90%;
  }
}